{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container bg-secondary text-white">
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                {% csrf_token %}
                {{form.username.label}}:
                {{form.username}}<br><br>
                {{form.first_name.label}}:
                {{form.first_name}}<br><br>
                {{form.last_name.label}}:
                {{form.last_name}}<br><br>
                {{form.email.label}}:
                {{form.email}}<br><br>
            
                <button type="submit" class="btn btn-primary btn-sm">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}